h1 {
  color: #006600;
}

a {
  color: #006600;
}

a:hover {
  color: #00FF00;
}

.wy-nav .wy-menu-vertical header {
  color: #00CC00;
}

.wy-menu-vertical header, .wy-menu-vertical p.caption {
  color: #00CC00;
}

.wy-side-nav-search {
  background-color: #333333;
  color: #fcfcfc;
}

.wy-side-nav-search input[type="text"] {
  width: 100%;
  border-radius: 0px;
  padding: 6px 12px;
  border-color: #00CC00;
}